.jumbotron {

	text-align: center;
	border-style: solid;
	border-width: 2px;
	background-image: url("https://media.giphy.com/media/o6IgmnzDGRDNK/giphy.gif");

}

#jourText {
	
	font-family: 'Shrikhand', cursive;
	color: #ffe066;
	font-size: 35px;

}

